.container {
  .title {
    text-align: center;
    padding: 10px;
    background-color: cadetblue;
    font-size: 2em;
  }

  .game-fence {
    display: flex;
    justify-content: center;

    .frame {
      height: 500px;
      width: 700px;
      border: 2px solid blue;
      margin: 20px;
      position: relative;
      background-color: cornsilk;

      .movable-box {
        height: 100px;
        width: 100px;
        text-align: center;
        vertical-align: middle;
        line-height: 100px;

        background-color: violet;
        display: inline-block;
        position: absolute;
      }

      .highlight-selected {
        background-color: cornflowerblue;
        font-size: 2em;
      }
    }
  }

  .controls {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      width: 200px;
      padding: 10px;
      margin: 0px 10px;
      font-weight: bold;
    }

    .keyboard-inactive {
      background-color: #ef7155;
    }

    .keyboard-active {
      background-color: #6ab96a;
    }
  }
}
